.footer{
	background: #09445a;
    color: #fff;
    margin-top: 20px;
}

.footer .footer-links h4{
  font-size:18px;
  margin-bottom: 15px;
  border-left: 2px solid #2194bf;
  padding-left: 5px;
}

.footer .footer-links a{
	color: #adabab;
    font-size: 12px;
    text-decoration: none;
}
.footer .footer-links a:hover{
	color:#fff;
}
.footer .footer-links svg{
    font-size: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.footer .footer-links span{
	float: right;
}

.footer .footer-links ul li{
  overflow: hidden;
}
footer{
	position:relative;
}
.collapsible {
  background-color: #09445a;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

<!-- .active, .collapsible:hover { -->
  <!-- background-color: #555; -->
<!-- } -->

.content {
  overflow: hidden;  
  transition: max-height 0.6s ;
}


.collapsible:after {
  content: '\f139';
    font-size: 13px;
    color: white;
    float: none;
    margin-left: 0;    
    font-size: 40px;
    color: yellow;
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #777;
    border-radius: 50%;
    padding: 10px 4px;
    width: 46px;
    height: 46px;
    background: #777;
}

/*.footer .active:after {
  content: "\f13a";  Unicode character for "minus" sign (-) 
  font-family: FontAwesome;
}*/

.foot-but{
	position:relative;
}

.foot-but button img{
	position: absolute;
    width: 40px;
    margin: 0 auto;
    text-align: center;
    top: -21px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
.footer-top{
	padding: 0 20px 20px 20px;
}
.footer-bottom{
    padding: 10px;
    background: #192529;
    text-align: center;
}

.copyright{
	font-size: 12px;
}

.foot-outer .navbar{
  background: #09445a;
  padding: 20px;
}

.foot-outer .navbar-light .navbar-toggler-icon {
  background-image: url(../img/up2.png);
}
.foot-outer .navbar-light .navbar-toggler {
  color: rgb(255 255 255);
  border-color: rgb(255 255 255);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 7px;
}

.foot-outer button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline: none;
}

.foot-outer .navbar-toggler{
  position: absolute;
  top: -24px;
  background: #09445a;
}

.foot-outer{
      margin-top: 30px;
}